header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
section img {
  height: 400px;
}

section {
  display: flex;
  justify-content: space-around;
}
div {
  max-width: 400px;
  text-align: center;
}
